@model IEnumerable<Bayron20250324B.AppWebMVC.Models.Brand>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.BrandName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Country)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.BrandName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Country)
            </td>
                <td>
                    <form method="get" asp-action="Edit" asp-route-id="@item.Id" style="display:inline;">
                        <button type="submit" class="btn btn-secondary">Edit</button>
                    </form>
                    |
                    <form method="get" asp-action="Details" asp-route-id="@item.Id" style="display:inline;">
                        <button type="submit" class="btn btn-info">Details</button>
                    </form>
                    |
                    <form method="get" asp-action="Delete" asp-route-id="@item.Id" style="display:inline;">
                        <button type="submit" class="btn btn-danger">Delete</button>
                    </form>
                </td>
        </tr>
}
    </tbody>
</table>
